{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8">
    <title>
      {% block title %}Stockflow{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="icon"
          type="image/png"
          sizes="32x32"
          href="{% static 'images/favicons/favicon-32x32.png' %}">
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="{% static 'images/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicons/site.webmanifest' %}">
    <link rel="shortcut icon" href="{% static 'images/favicons/favicon.ico' %}">
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/vendor/bootstrap.min.css' %}" rel="stylesheet" />
    <!-- Bootstrap Icons -->
    <link rel="stylesheet"
          href="{% static 'css/vendor/bootstrap-icons.min.css' %}" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
  </head>
  <body>
    <div class="d-flex align-items-center justify-content-center"
         style="min-height: 100vh">
      <!-- Notification Toast Container -->
      {% include "partials/notification-toast.html" %}
      {% block content %}{% endblock %}
      <!-- Theme Toggle Button -->
      {% include "partials/theme-toggle.html" %}
    </div>
    <!-- Bootstrap JS Bundle -->
    <script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"
            crossorigin="anonymous"></script>
    <!-- Custom JS -->
    <script src="{% static 'js/forms/auth_forms.js' %}"></script>
    <script src="{% static 'js/theme-toggle.js' %}"></script>
  </body>
</html>
