{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="card shadow-sm mx-auto my-3 p-3 slide-in-left">
    <div class="card-body">
      <div class="row">
        <!-- Signup form -->
        <div class="col-md-6 p-5 d-flex flex-column justify-content-center">
          <div class="mb-3">
            <h4>Create an Account</h4>
            <p class="text-muted">Join us and start managing your inventory.</p>
          </div>
          <form method="post" novalidate>
            {% csrf_token %}
            {% crispy form %}
          </form>
        </div>
        <!-- Divider -->
        <div class="col-md-1 d-none d-md-flex justify-content-center">
          <div style="border-left: 1px solid #dee2e6; height: 100%;"></div>
        </div>
        <!-- Carousel -->
        {% include 'partials/carousel.html' %}
      </div>
    </div>
  </div>
{% endblock %}
