@import url("./_theme.css");

#main-content {
  transition: margin-left 0.3s ease;
  margin-left: 200px;
}

.card {
  border-radius: 10px;
  background-color: var(--card-bg-color);
  color: var(--text-color);
  box-shadow: 0 1.5rem 3rem var(--card-shadow-color);
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease,
    color 0.3s ease;
}

.btn {
  color: var(--color-white);
}

.btn i {
  color: var(--color-white);
}

.btn span {
  color: var(--color-white);
}

.btn-outline-success {
  color: var(--text-color);
}
.btn-outline-danger {
  color: var(--text-color);
}

.btn-outline-secondary {
  color: var(--text-color);
}

.btn-outline-secondary i {
  color: var(--text-color);
}

.btn-outline-success i {
  color: var(--text-color);
}

.btn-outline-danger i {
  color: var(--text-color);
}

.slide-in-left {
  animation: slideInFromLeft 0.4s ease forwards;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.dropdown-item.active {
  background-color: var(--primary-green);
  color: var(--color-white);
}

.sticky-bottom-btn-bar {
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--card-bg-color);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
  z-index: 999;
}

.form-check-input:checked {
  background-color: var(--primary-green);
  border-color: var(--primary-green);
}

.form-check-input:focus {
  border-color: var(--primary-green);
  box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.25);
}

.form-control:focus {
  border-color: var(--primary-green);
  box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.25);
}

.form-select:focus {
  border-color: var(--primary-green);
  box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.25);
}

option:checked {
  background-color: var(--emerald-green);
}

#imageUploadContainer {
  border: 1px dashed rgba(var(--emerald-green-rgb), 0.7);
  border-radius: 10px;
  background-color: rgba(var(--emerald-green-rgb), 0.1);
  cursor: pointer;
  min-height: 120px;
  aspect-ratio: 2 / 1.5;
  position: relative;
}

#imagePreview {
  border-radius: 10px;
  object-fit: cover;
}

#clearImageBtn {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.75rem;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  color: var(--text-color);
}

.nav-link:hover {
  color: var(--emerald-green);
}

.nav-tabs .nav-link.active {
  background-color: var(--primary-green);
}

/* Custom Outline Button for Purchases */
.btn-outline-purchase,
.btn-outline-purchase i {
  color: var(--text-color);
  border-color: #6610f2;
  background-color: transparent;
}

.btn-outline-purchase:hover {
  color: var(--color-white);
  background-color: #6610f2;
  border-color: #6610f2;
}

/* Custom Outline Button for Sales */
.btn-outline-sale,
.btn-outline-sale i {
  color: var(--text-color);
  border-color: #a7288a;
  background-color: transparent;
}

.btn-outline-sale:hover {
  background-color: #a7288a;
  border-color: #a7288a;
}

/* Ensure active state also looks good if button is clicked and held */
.btn-outline-purchase-purple:active:focus {
  box-shadow: 0 0 0 0.25rem rgba(102, 16, 242, 0.5);
}

/* DATATABLES */
/* Prevent export button from forcing horizontal scroll */
.datatable-header {
  overflow-x: auto;
  flex-wrap: wrap;
  gap: 1rem;
}

/* Ensure DataTable elements don’t overflow */
.dataTables_wrapper {
  width: 100%;
  overflow-x: auto;
}

/* Allow table to scroll inside card if necessary */
.table-responsive {
  overflow-x: auto;
}

.dt-buttons .btn {
  white-space: nowrap;
  color: var(--color-white);
}

/* Normal column header */
table.dataTable thead th {
  color: var(--text-color); /* Or any color */
}

/* Ascending sort */
thead th.sorting_asc::before {
  color: var(--primary-green); /* Change arrow color */
}

/* Descending sort (arrow) */
thead th.sorting_desc::after {
  color: var(--primary-green);
}

/* Pagination buttons */
.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0.5rem 0.3rem;
}

.dataTables_wrapper .dataTables_paginate .paginate_button .page-link {
  color: var(--text-color); /* Text color */
  background-color: transparent; /* Background */
  border-radius: 0.25rem;
  border-color: var(--color-dark-gray);
}

/* Active page */
.dataTables_wrapper .dataTables_paginate .page-item.active .page-link {
  background-color: var(--primary-green) !important;
  color: var(--text-color) !important;
  font-weight: bold;
  border-radius: 0.25rem;
  border-color: var(--primary-green);
}

.table-hover tbody tr.clickable-row:hover td {
  color: var(--primary-green);
}

/* Select2 Bootstrap 5 theme */
.select2-container--bootstrap-5 .select2-selection {
  background-color: var(--bs-body-bg);
  color: var(--text-color);
  border: 1px solid var(--color-gray-light-border);
}

.select2-search.select2-search--dropdown {
  background-color: var(--bs-body-bg);
}

.select2-container--bootstrap-5 .select2-dropdown .select2-results__options {
  background-color: var(--bs-body-bg);
}

.select2-container--bootstrap-5
  .select2-selection--single
  .select2-selection__rendered {
  color: var(--text-color);
}

.select2-container--bootstrap-5
  .select2-dropdown
  .select2-results__options
  .select2-results__option.select2-results__option--selected,
.select2-container--bootstrap-5
  .select2-dropdown
  .select2-results__options
  .select2-results__option[aria-selected="true"]:not(
    .select2-results__option--highlighted
  ) {
  background-color: var(--primary-green);
}

.select2-container--bootstrap-5
  .select2-dropdown
  .select2-search
  .select2-search__field {
  background-color: var(--navbar-input-bg-color);
  color: var(--text-color);
  border-color: var(--color-medium-gray);
}

.select2-container--bootstrap-5
  .select2-dropdown
  .select2-search
  .select2-search__field:focus {
  border-color: var(--primary-green);
  box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.25);
}

.select2-container--bootstrap-5.select2-container--focus .select2-selection,
.select2-container--bootstrap-5.select2-container--open .select2-selection {
  border-color: var(--primary-green);
  box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.25);
}

.select2-container--bootstrap-5 .select2-dropdown {
  border-color: var(--primary-green);
}

/* Charts */
.chart-container {
  position: relative;
  width: 100%;
  max-width: 200px;
}
