{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="UTF-8">
    <title>
      {% block title %}Inventory App{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
          rel="stylesheet">
    <!-- Bootstrap CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
          crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/_sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <!-- HTMX -->
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.5/dist/htmx.min.js"
            integrity="sha384-t4DxZSyQK+0Uv4jzy5B0QyHyWQD2GFURUmxKMBVww9+e2EJ0ei/vCvv7+79z0fkr"
            crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="d-flex" style="min-height: 100vh">
      <!-- Sidebar -->
      {% include "layouts/sidebar.html" %}
      <!-- Content -->
      <div class="flex-grow-1 p-4">
        <!-- Notification Toast Container -->
        {% include "partials/notification-toast.html" %}
        {% block content %}{% endblock %}
        <!-- Theme Toggle Button -->
        {% include "partials/theme-toggle.html" %}
      </div>
    </div>
    <!-- Bootstrap JS Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
            crossorigin="anonymous"></script>
    <!-- Custom JS -->
    <script src="{% static 'js/home.js' %}"></script>
    <script src="{% static 'js/theme-toggle.js' %}"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
  </body>
</html>
