{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Load Theme Script -->
    {% include "partials/theme-toggle/theme-script.html" %}
    <!-- Favicon -->
    <link rel="icon"
          type="image/png"
          sizes="32x32"
          href="{% static 'images/favicons/favicon-32x32.png' %}">
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="{% static 'images/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicons/site.webmanifest' %}">
    <link rel="shortcut icon" href="{% static 'images/favicons/favicon.ico' %}">
    <title>
      {% block title %}Inventory App{% endblock %}
    </title>
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/vendor/bootstrap.min.css' %}" rel="stylesheet" />
    <!-- Bootstrap Icons -->
    <link rel="stylesheet"
          href="{% static 'css/vendor/bootstrap-icons.min.css' %}" />
    <!-- DataTables for Bootstrap 5 -->
    <link rel="stylesheet"
          href="{% static 'css/vendor/dataTables.bootstrap5.min.css' %}" />
    <link rel="stylesheet"
          href="{% static 'css/vendor/buttons.bootstrap5.min.css' %}" />
    <!-- Select2 for Bootstrap 5 -->
    <link rel="stylesheet" href="{% static 'css/vendor/select2.min.css' %}" />
    <link rel="stylesheet"
          href="{% static 'css/vendor/select2-bootstrap5.min.css' %}" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/_navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/_sidebar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body class="{% if sidebar_collapsed %}sidebar-collapsed{% endif %}">
    <div class="d-flex" style="min-height: 100vh">
      <!-- Sidebar -->
      {% include "partials/sidebar.html" %}
      <!-- Main Content -->
      <div id="main-content" class="flex-grow-1 py-2 px-3">
        {% include "partials/notification-toast.html" %}
        {% include "partials/navbar.html" %}
        {% block content %}{% endblock %}
        {% include "partials/theme-toggle/theme-toggle.html" %}
      </div>
    </div>
    <!-- jQuery -->
    <script src="{% static 'js/vendor/jquery.min.js' %}" crossorigin="anonymous"></script>
    <!-- Bootstrap Bundle -->
    <script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"
            crossorigin="anonymous"></script>
    <!-- Chart.js -->
    <script src="{% static 'js/vendor/chart.min.js' %}"></script>
    <!-- Select2 -->
    <script src="{% static 'js/vendor/select2.min.js' %}"></script>
    <!-- DataTables -->
    <script src="{% static 'js/vendor/jquery.dataTables.min.js' %}"></script>
    <!-- DataTables Buttons -->
    <script src="{% static 'js/vendor/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'js/vendor/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'js/vendor/buttons.bootstrap5.min.js' %}"></script>
    <script src="{% static 'js/vendor/jszip.min.js' %}"></script>
    <!-- DataTables Buttons HTML5 -->
    <script src="{% static 'js/vendor/buttons.html5.min.js' %}"></script>
    <script src="{% static 'js/vendor/buttons.print.min.js' %}"></script>
    <!-- pdfmake -->
    <script src="{% static 'js/vendor/pdfmake.min.js' %}"></script>
    <script src="{% static 'js/vendor/vfs_fonts.js' %}"></script>
    <!-- Custom Scripts -->
    <script src="{% static 'js/home/home.js' %}" defer></script>
    <script src="{% static 'js/theme/theme-toggle.js' %}" defer></script>
  </body>
</html>
