{% load static %}
<div class="sidebar d-flex flex-column py-2 rounded-2 shadow-lg"
     id="sidebar">
  <a href="{% url 'home' %}"
     class="d-flex text-decoration-none justify-content-start align-items-center px-3 py-2 border-bottom"
     id="sidebar-brand">
    <div class="d-flex align-items-center" id="sidebar-brand-content">
      <i class="bi bi-box2-fill fs-4" id="sidebar-icon"></i>
      <span class="fs-4 fw-semibold sidebar-label ms-2">Stockflow</span>
    </div>
  </a>
  <div class="sidebar-menu-scrollable flex-grow-1 overflow-auto">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="{% url 'home' %}"
           class="nav-link sidebar-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
          <div>
            <i class="bi bi-house fs-5 me-1"></i>
            <span class="sidebar-label">Home</span>
          </div>
        </a>
      </li>
      <li class="nav-item">
        {% with inventory_group_urls='items add_item import_items view_item edit_item categories add_category view_category edit_category units add_unit view_unit edit_unit inventory_adjustments add_adjustment view_adjustment edit_adjustment' %}
          <a class="nav-link sidebar-item {% if request.resolver_match.url_name in inventory_group_urls.split %}active{% endif %}"
             data-bs-toggle="collapse"
             href="#inventoryCollapse"
             role="button"
             aria-expanded="{% if request.resolver_match.url_name in inventory_group_urls.split %}true{% else %}false{% endif %}"
             aria-controls="inventoryCollapse">
            <div>
              <i class="bi bi-box-seam fs-5 me-1"></i>
              <span class="sidebar-label">Inventory</span>
            </div>
            <i class="bi bi-chevron-down sidebar-chevron"></i>
          </a>
        {% endwith %}
        <div class="collapse {% if request.resolver_match.url_name in inventory_group_urls.split %}show{% endif %}"
             id="inventoryCollapse">
          <ul class="btn-toggle-nav fw-normal pb-1 ps-4 mt-1">
            <li>
              {% with item_urls='items add_item import_items view_item edit_item' %}
                <a href="{% url 'items' %}"
                   class="nav-link link-body-emphasis sidebar-sub-item {% if request.resolver_match.url_name in item_urls.split %}active{% endif %}">Items</a>
              {% endwith %}
            </li>
            <li>
              {% with category_urls='categories add_category edit_category view_category' %}
                <a href="{% url 'categories' %}"
                   class="nav-link link-body-emphasis sidebar-sub-item {% if request.resolver_match.url_name in category_urls.split %}active{% endif %}">Categories</a>
              {% endwith %}
            </li>
            <li>
              {% with unit_urls='units add_unit edit_unit view_unit' %}
                <a href="{% url 'units' %}"
                   class="nav-link link-body-emphasis sidebar-sub-item {% if request.resolver_match.url_name in unit_urls.split %}active{% endif %}">Units of Measure</a>
              {% endwith %}
            </li>
            <li>
              {% with adjustment_urls='inventory_adjustments add_adjustment view_adjustment edit_adjustment' %}
                <a href="{% url 'inventory_adjustments' %}"
                   class="nav-link link-body-emphasis sidebar-sub-item {% if request.resolver_match.url_name in adjustment_urls %}active{% endif %}">Adjustments</a>
              {% endwith %}
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        {% with purchase_group_urls='purchases add_purchase edit_purchase view_purchase suppliers add_supplier edit_supplier view_supplier' %}
          <a class="nav-link sidebar-item {% if request.resolver_match.url_name in purchase_group_urls.split %}active{% endif %}"
             data-bs-toggle="collapse"
             href="#purchasesCollapse"
             role="button"
             aria-expanded="{% if request.resolver_match.url_name in purchase_group_urls.split %}true{% else %}false{% endif %}"
             aria-controls="purchasesCollapse">
            <div>
              <i class="bi bi-bag fs-5 me-1"></i>
              <span class="sidebar-label">Purchases</span>
            </div>
            <i class="bi bi-chevron-down sidebar-chevron"></i>
          </a>
        {% endwith %}
        <div class="collapse {% if request.resolver_match.url_name in purchase_group_urls.split %}show{% endif %}"
             id="purchasesCollapse">
          <ul class="btn-toggle-nav fw-normal pb-1 ps-4 mt-1">
            <li>
              {% with purchase_urls='purchases add_purchase edit_purchase view_purchase' %}
                <a href="{% url 'purchases' %}"
                   class="nav-link link-body-emphasis sidebar-sub-item {% if request.resolver_match.url_name in purchase_urls.split %}active{% endif %}">
                  Purchases Records
                </a>
              {% endwith %}
            </li>
            <li>
              {% with supplier_urls='suppliers add_supplier edit_supplier view_supplier' %}
              <a href="{% url 'suppliers' %}"
                 class="nav-link link-body-emphasis sidebar-sub-item {% if request.resolver_match.url_name in supplier_urls.split %}active{% endif %}">
                Suppliers
              </a>
              {% endwith %}
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        {% with sales_group_urls='sales add_sale view_sale edit_sale customers add_customer view_customer edit_customer' %}
          <a class="nav-link sidebar-item {% if request.resolver_match.url_name in sales_group_urls.split %}active{% endif %}"
             data-bs-toggle="collapse"
             href="#salesCollapse"
             role="button"
             aria-expanded="{% if request.resolver_match.url_name in sales_group_urls.split %}true{% else %}false{% endif %}"
             aria-controls="salesCollapse">
            <div>
              <i class="bi bi-cart2 fs-5 me-1"></i>
              <span class="sidebar-label">Sales</span>
            </div>
            <i class="bi bi-chevron-down sidebar-chevron"></i>
          </a>
        {% endwith %}
        <div class="collapse {% if request.resolver_match.url_name in sales_group_urls.split %}show{% endif %}"
             id="salesCollapse">
          <ul class="btn-toggle-nav fw-normal pb-1 ps-4 mt-1">
            <li>
              {% with sales_urls='sales add_sale view_sale edit_sale' %}
                <a href="{% url 'sales' %}"
                   class="nav-link link-body-emphasis sidebar-sub-item {% if request.resolver_match.url_name in sales_urls.split %}active{% endif %}">
                  Sales Records
                </a>
              {% endwith %}
            </li>
            <li>
              {% with customers_urls='customers add_customer view_customer edit_customer' %}
                <a href="{% url 'customers' %}"
                   class="nav-link link-body-emphasis sidebar-sub-item {% if request.resolver_match.url_name in customers_urls.split %}active{% endif %}">
                  Customers
                </a>
              {% endwith %}
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        {% with report_group_urls='sales_report_url inventory_report_url profit_loss_url' %}
          <a class="nav-link sidebar-item {% if request.resolver_match.url_name in report_group_urls.split %}active{% endif %}"
             data-bs-toggle="collapse"
             href="#reportsCollapse"
             role="button"
             aria-expanded="{% if request.resolver_match.url_name in report_group_urls.split %}true{% else %}false{% endif %}"
             aria-controls="reportsCollapse">
            <div>
              <i class="bi bi-bar-chart fs-5 me-1"></i>
              <span class="sidebar-label">Reports</span>
            </div>
            <i class="bi bi-chevron-down sidebar-chevron"></i>
          </a>
        {% endwith %}
        <div class="collapse {% if request.resolver_match.url_name in report_group_urls.split %}show{% endif %}"
             id="reportsCollapse">
          <ul class="btn-toggle-nav fw-normal pb-1 ps-4 mt-1">
            <li>
              <a href="#" class="nav-link link-body-emphasis sidebar-sub-item rounded">Sales Report</a>
            </li>
            <li>
              <a href="#" class="nav-link link-body-emphasis sidebar-sub-item rounded">Inventory Report</a>
            </li>
            <li>
              <a href="#" class="nav-link link-body-emphasis sidebar-sub-item rounded">Profit &amp; Loss</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <hr class="mt-auto">
  <div class="text-center mt-auto px-2">
    <button class="btn btn-outline-secondary btn-sm w-100" id="sidebarToggle">
      <i class="bi bi-chevron-left" id="sidebarToggleIcon"></i>
    </button>
  </div>
</div>
<div id="floatingChevronContainer"></div>
<script src="{% static 'js/partials/sidebar.js' %}"></script>
