<div class="sidebar d-flex flex-column py-2 rounded-2 shadow-lg"
     id="sidebar">
  <a href="{% url 'home' %}"
     class="d-flex text-decoration-none justify-content-start"
     id="sidebar-brand">
    <div class="d-flex align-items-center" id="sidebar-brand-content">
      <i class="bi bi-box2-fill fs-4" id="sidebar-icon"></i>
      <span class="fs-4 fw-semibold sidebar-label ms-2">Stockflow</span>
    </div>
  </a>
  <div class="sidebar-menu-scrollable flex-grow-1 overflow-auto">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="{% url 'home' %}"
           class="nav-link sidebar-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
          <div>
            <i class="bi bi-house fs-5 me-1"></i>
            <span class="sidebar-label">Home</span>
          </div>
        </a>
      </li>
      <!-- Inventory -->
      <li class="nav-item">
        {% with item_related_urls='items add_item import_items view_item edit_item categories add_category view_category edit_category units add_unit view_unit edit_unit inventory_adjustments add_adjustment view_adjustment edit_adjustment' %}
          <a class="nav-link sidebar-item {% if request.resolver_match.url_name in item_related_urls.split %}active{% endif %}"
             data-bs-toggle="collapse"
             href="#inventoryCollapse"
             role="button"
             aria-expanded="false"
             aria-controls="inventoryCollapse">
            <div>
              <i class="bi bi-box-seam fs-5 me-1"></i>
              <span class="sidebar-label">Inventory</span>
            </div>
            <i class="bi bi-chevron-down sidebar-chevron"></i>
          </a>
        {% endwith %}
        <div class="collapse" id="inventoryCollapse">
          <ul class="btn-toggle-nav fw-normal pb-1 ps-4 mt-1">
            <li>
              {% with item_related_urls='items add_item import_items view_item edit_item' %}
                <a href="{% url 'items' %}"
                   class="nav-link link-body-emphasis sidebar-sub-item {% if request.resolver_match.url_name in item_related_urls.split %}active{% endif %}">Items</a>
              {% endwith %}
            </li>
            <li>
              {% with category_related_urls='categories add_category edit_category view_category' %}
                <a href="{% url 'categories' %}"
                   class="nav-link link-body-emphasis sidebar-sub-item {% if request.resolver_match.url_name in category_related_urls.split %}active{% endif %}">Categories</a>
              {% endwith %}
            </li>
            <li>
              {% with unit_related_urls='units add_unit edit_unit view_unit' %}
                <a href="{% url 'units' %}"
                   class="nav-link link-body-emphasis sidebar-sub-item {% if request.resolver_match.url_name in unit_related_urls.split %}active{% endif %}">Units of Measure</a>
              {% endwith %}
            </li>
            <li>
              {% with adjustment_related_urls='inventory_adjustments add_adjustment view_adjustment edit_adjustment' %}
                <a href="{% url 'inventory_adjustments' %}"
                   class="nav-link link-body-emphasis sidebar-sub-item {% if request.resolver_match.url_name in adjustment_related_urls %}active{% endif %}">Adjustments</a>
              {% endwith %}
            </li>
          </ul>
        </div>
      </li>
      <!-- Sales -->
      <li class="nav-item">
        <a class="nav-link sidebar-item"
           data-bs-toggle="collapse"
           href="#salesCollapse"
           role="button"
           aria-expanded="false"
           aria-controls="salesCollapse">
          <div>
            <i class="bi bi-cart2 fs-5 me-1"></i>
            <span class="sidebar-label">Sales</span>
          </div>
          <i class="bi bi-chevron-down sidebar-chevron"></i>
        </a>
        <div class="collapse" id="salesCollapse">
          <ul class="btn-toggle-nav fw-normal pb-1 ps-4 mt-1">
            <li>
              <a href="#" class="nav-link link-body-emphasis sidebar-sub-item rounded">New Sale</a>
            </li>
            <li>
              <a href="#" class="nav-link link-body-emphasis sidebar-sub-item rounded">Sales History</a>
            </li>
            <li>
              <a href="#" class="nav-link link-body-emphasis sidebar-sub-item rounded">Customers</a>
            </li>
          </ul>
        </div>
      </li>
      <!-- Purchases -->
      <li class="nav-item">
        <a class="nav-link sidebar-item"
           data-bs-toggle="collapse"
           href="#purchasesCollapse"
           role="button"
           aria-expanded="false"
           aria-controls="purchasesCollapse">
          <div>
            <i class="bi bi-bag fs-5 me-1"></i>
            <span class="sidebar-label">Purchases</span>
          </div>
          <i class="bi bi-chevron-down sidebar-chevron"></i>
        </a>
        <div class="collapse" id="purchasesCollapse">
          <ul class="btn-toggle-nav fw-normal pb-1 ps-4 mt-1">
            <li>
              <a href="#" class="nav-link link-body-emphasis sidebar-sub-item rounded">New Purchase</a>
            </li>
            <li>
              <a href="#" class="nav-link link-body-emphasis sidebar-sub-item rounded">Purchase Orders</a>
            </li>
            <li>
              <a href="#" class="nav-link link-body-emphasis sidebar-sub-item rounded">Suppliers</a>
            </li>
          </ul>
        </div>
      </li>
      <!-- Reports -->
      <li class="nav-item">
        <a class="nav-link sidebar-item"
           data-bs-toggle="collapse"
           href="#reportsCollapse"
           role="button"
           aria-expanded="false"
           aria-controls="reportsCollapse">
          <div>
            <i class="bi bi-bar-chart fs-5 me-1"></i>
            <span class="sidebar-label">Reports</span>
          </div>
          <i class="bi bi-chevron-down sidebar-chevron"></i>
        </a>
        <div class="collapse" id="reportsCollapse">
          <ul class="btn-toggle-nav fw-normal pb-1 ps-4 mt-1">
            <li>
              <a href="#" class="nav-link link-body-emphasis sidebar-sub-item rounded">Sales Report</a>
            </li>
            <li>
              <a href="#" class="nav-link link-body-emphasis sidebar-sub-item rounded">Inventory Report</a>
            </li>
            <li>
              <a href="#" class="nav-link link-body-emphasis sidebar-sub-item rounded">Profit &amp; Loss</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <hr class="mt-auto">
  <div class="text-center mt-auto px-2">
    <button class="btn btn-outline-secondary btn-sm w-100" id="sidebarToggle">
      <i class="bi bi-chevron-left" id="sidebarToggleIcon"></i>
    </button>
  </div>
</div>
<div id="floatingChevronContainer"></div>
