<div class="dropdown">
  <button class="btn btn-sm btn-outline-secondary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false">{{ request.GET.time_filter|default:"This Month" }}</button>
  <ul class="dropdown-menu dropdown-menu-end">
    <li>
      <a class="dropdown-item time-filter-option" href="?time_filter=month">This Month</a>
    </li>
    <li>
      <a class="dropdown-item time-filter-option" href="?time_filter=year">This Year</a>
    </li>
  </ul>
</div>
